.appSliderSection .slick-arrow.slick-prev {
  display: none !important;
}
.appSliderSection .slick-arrow.slick-next {
  display: none !important;
}

.appSliderSection .slick-prev:before {
  content: '';
  background-image: url('../images/back.svg');
  width: 57px;
  height: 57px;
  display: block;
  background-size: cover;
  border-radius: 50%;
}
.appSliderSection .slick-arrow.slick-next:before {
  content: '';
  background-image: url('../images/next.svg');
  width: 57px;
  height: 57px;
  display: block;
  background-size: cover;
  border-radius: 50%;
}
@media (max-width: 1280px) {
  .appSliderSection .slick-arrow.slick-prev {
    left: -30%;
  }
  .appSliderSection .slick-arrow.slick-next {
    left: -25%;
    right: auto;
  }
}
